//-------------------------------------------TextIcon-------------------------------------------
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inline {
  width: 249px;
  height: 36px;
  border: none;
  color: #333;
  outline: none;
  border: 1px solid #dce0e0;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
  padding: 0px 15px;
}

.icon-text-field {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #9b9b9b;
}

@media (min-width:600px) and (max-width: 850px) { 
  .inline {
    width: 130px;
  }
 }

 @media (max-width: 450px) { 
  .inline {
    width: 340px;
    margin-bottom: 8px;
  }
 }

//-------------------------------------------Option icon-------------------------------------------
.select-container {
  display: flex;
  justify-content: center;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-box {
  border: none;
  appearance: none;
  width: 280px;
  height: 38px;
  outline: none;
  background-color: #ffffff;
  color: #555555;
  border: 1px solid #dce0e0;
  border-radius: 5px;
  font-size: 15px;
  padding: 0px 15px;
  padding-right: 30px;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #9b9b9b;
}

@media (min-width:600px) and (max-width: 850px) { 
  .select-box {
    width: 160px;
  }
 }

 @media (max-width: 450px) { 
  .select-box {
    width: 370px;
    margin-bottom: 8px;
  }
 }

//--------------------------------Button--------------------------------------
.custom-button {
  background-color: #ff4857;
  width: 280px;
  height: 38px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #1ec6b6;
  }

  &.disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
}

@media (min-width:600px) and (max-width: 850px) { 
  .custom-button {
    width: 180px;
  }
 }

 @media (max-width: 450px) { 
  .custom-button {
    width: 370px;
  }
 }

//-------------------------------------------Popular-------------------------------------------
.card-popular {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 289px;
  height: 300px;
}

.card-popular:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.card-popular-image {
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}

.text-popular {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: -5px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Work Sans", sans-serif;
}

@media (min-width:600px) and (max-width: 850px) { 
  .card-popular {
    width: 170px;
    height: 180px;
  }
  .text-popular{
    left: 12px;
    bottom: -15px;
  }
 }

 @media (max-width: 450px) { 
  .card-screen{
    margin-top:20px;
  }
  .card-popular {
    width: 390px;
    height: 250px;
  }
 }

//-------------------------------------------Best value trip-------------------------------------------
.card-product-screen {
  width: 395px;
  height: 388px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease;
}
.card-product-screen:hover {
  transform: translateY(-4px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.card-product-sale{
  height: 40px;
  width: 40px;
  background-color: #1EC6B6;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  position: absolute;
  right: -18px;
  top: -15px;
}

.card-product-image {
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  width: 395px;
  height: 262px;
}

.card-product-wrapper {
  padding: 15px 15px;
}
.card-product-review{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 12px;
}
.card-product-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.card-product-description {
  font-size: 13px;
}
.card-product-start{
  display: flex; 
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  margin-top: 22px;
}
.checked {
  color: #50E3C2;
}
.card-product-date{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  display: flex; 
  align-items: center;
  margin-top: 22px;
}
.card-product-date-icon{
  margin-right: 2px;
}

@media (min-width:600px) and (max-width: 850px) { 
 .card-product-screen{
  width: 240px;
  height: 300px;
 }
 .card-product-image {
  width: 240px;
  height: 150px;
}
 }

 @media (max-width: 450px) { 
  .card-product-screen {
    width: 390px;
    height: 388px;
    margin-bottom: 20px;
  }
  .card-product-image {
    width: 390px;
    height: 260px;
  }
  .card-product-sale{
    height: 35px;
    width: 35px;
    right: -12px;
    top: -12px;
  }
 }


//-------------------------------------------Currency-------------------------------------------
.currency-screen{
  display: flex;
  padding: 0px 5px 0px 5px;
  height: 30px;
  background-color: #ff4a52;
  color: #fff;
  font-family: "Mooli", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 140px;
  font-size: 16px;
}
 .currency-old-value{
color: #ff828c;
text-decoration: line-through;
font-family: "Poppins", sans-serif;
font-weight: 900;
 }
 .currency-value{
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  margin-left: 0.2rem;
 }
 .card-product-screen:hover .currency-no-transform {
  transform: scale(1.05);
}

@media (min-width:600px) and (max-width: 850px) { 
  .currency-screen{
    bottom: 165px;
  }
  }
 
  @media (max-width: 450px) { 
  
  }

//---------------------------------------------------InfoChooseU----------------------------------------------s

.info-choose-us-screen{
  width: 395px;
  height: 100%;
  position: relative;
  margin-bottom: 100px;
}

.info-choose-us-wrapper-image{
  width: 395px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-choose-us-image{
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}

@media (min-width:600px) and (max-width: 850px) { 
  .info-choose-us-screen{
    width: 228px;
    height: 100%;
    position: relative;
    margin-bottom: 100px;
  }
  .info-choose-us-wrapper-image{
    width: 228px;
  }
  }
  @media (max-width: 450px) { 
    .info-choose-us-screen{
      width: 390px;
      margin-bottom: 50px;
    }
    .info-choose-us-wrapper-image{
      width: 390px;
    }
  }

//-------------------------------------------Card new-------------------------------------------
.card-new-screen {
  width: 395px;
  height: 535px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease;
}

.card-new-screen:hover {
  transform: translateY(-4px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.card-new-image {
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}

.card-new-wrapper {
  padding: 15px 35px;
}
.card-product-review{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 12px;
}
.card-new-date{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-new-heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.card-new-description {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  letter-spacing: 2px;
}
.card-new-readmore{
  display: flex;
  align-items: center;
  color: #9f9f9f;
  padding: 0 35px;
}
.card-new-readmore:hover{
  color: #333;
}
.card-new-readmore-wrapper{
  width: 180px;
}
@media (min-width:600px) and (max-width: 850px) { 
  .card-new-screen {
    width: 240px;
    height: 100%;
  }
  .card-new-image {
   width: 240px; 
   height: 155px;
  }
  }
  @media (max-width: 450px) { 
    .card-new-screen {
      width: 390px;
      height: 535px;
      margin-bottom: 20px;
    }
    .card-new-image {
      width: 390px; 
      height: 255px;
     }
  }

//----------------------------------Footer-------------------------------------------
.footer-screen{
  padding: 0 116px;
}
.footer-wrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  color: #fff;
}
.footer-awards{
width: 435px;
height: 243px;
}
.footer-title{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-block-start: 3em;
    margin-block-end: 0/5em;
}
.footer-awards-description{
  color: #bfbfbf;
  font-size: 15px;
}
.footer-awards-image{
  margin-top: 25px;
  
}
.footer-contact{
  width: 435px;
  height: 236px;
}
.footer-contact-info{
  display: flex;
  align-items: center;
  color: #bfbfbf;
  font-size: 15px;
}
.footer-contact-info-margin-top{
  margin-top: 15px;
}
.footer-contact-icon{
  margin-right: 12px;
}
.footer-social{
padding: 0px 20px;
display: flex;
align-items: center;
margin-top: 25px;
}
.footer-facebook{
  margin-right: 15px;
}
.footer-facebook-icon{
  width: 40px;
  height: 40px;
  color: #2D5F9A;
}
.footer-twitter{
  margin-right: 15px;
}
.footer-twitter-icon{
  width: 45px;
  height: 45px;
  color: #00C3F3;
}
.footer-youtube{
  margin-right: 15px;
}
.footer-youtube-icon{
  width: 55px;
  height: 55px;
  color: #cc181e;
}
.footer-pinterest{
  margin-right: 15px;
}
.footer-pinterest-icon{
  width: 40px;
  height: 40px;
  color: #bd081c;
}
.footer-instagram-icon{
  width: 45px;
  height: 45px;
  color: #405de6;
  border-radius: 50%;
}
.footer-recent{
  width: 410px;
  height: 314px;
}
.footer-copyright{
  display: block;
}
.footer-recent-image{
  border-radius: 5px;
  margin-right: 17px;
  cursor: pointer;
}
.footer-recent-image-margin-top{
margin-top: 10px;
}
.footer-recent-image-border-not-margin-right{
  border-radius: 5px;
  cursor: pointer;
}
.footer-copyright{
  margin-top: 40px;
border-top: 1px solid #ccc;
font-size: 12px;
color: #ccc;
}
.footer-copyright-wrapper{
  display: flex;
  align-items: center;
  margin-top: 45px
}
.footer-copyright-title{
  display: flex;
  margin-left: 600px;
}
.footer-copy-right-title-space{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 15px;
}

@media (min-width:600px) and (max-width: 850px) { 
  .footer-screen{
    padding: 0 20px;
  }
  .footer-awards{
    width: 233px;
    height: 257px;
    margin-right: 20px;
    }
  .footer-awards-image{
    width: 230px;
  }
  .footer-contact{
      width: 233px;
    }
  .footer-social{
      padding: 0px;
      display: flex;
      align-items: center;
      margin-top: 25px;
      flex-wrap: wrap; 
      }
      .footer-recent {
        width: 260px;
        height: 314px;
    }
    .footer-recent-image,
    .footer-recent-image-border-not-margin-right,
    .footer-recent-image-margin-top{
      width: 75px;
      height: 75px;
    }
    .footer-copyright{
      position: relative;
    }
    .footer-copyright-text{
      position: absolute;
      bottom: 0;
    }
    .footer-copyright-title{
      position: absolute;
      bottom: 0;
      margin-left: 496px;
    }
    
  }
  @media(max-width: 450px) { 
    .footer-screen{
      padding: 0 20px;
    }
    .footer-wrapper{
      display: block;
    }
    .footer-title{
      margin-block-start: 0em;
    }
    .footer-awards{
      width: 390px;
      height: 243px;
      padding-top: 45px;
      }
    .footer-contact{
        width: 390px;
        margin-top: 45px;
      }
    .footer-recent {
        width: 390px;
        height: 314px;
        margin-top: 45px;
    }
    .footer-copyright {
      margin-top: 0px;
  }
    .footer-copyright-wrapper{
      display: flex;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .footer-copyright-title{
      position: static;
      margin-left: 0px;
    }
    .footer-copyright-text{
      display: none;
    }
    .footer-recent-image,
    .footer-recent-image-border-not-margin-right{
      width: 110px;
      height: 110px;
    }
    
  }

//-------------------------------------------setting-modal-------------------------------------------
.settingmodal-screen{
  overflow-y: auto;
}
.settingmodal-image{
margin-top: 30px;
}
.settingmodal-image-1 {
  position: relative;
  display: inline-block;
}

.settingmodal-image-2{
  position: relative;
  float: right;
}

.image-container {
  position: relative;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay h2 {
  color: white;
  margin-bottom: 5px;
  font-size: 12px;
  width: 120px; 
  height: 22px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  text-align: center;
}

.overlay button {
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  
}

.settingmodal-image-1:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.overlay button:hover {
  background-color: #fff;
  color: #333;
}

.settingmodal-image-2:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.setttingmodal-color-cricle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #ccc;
  display: inline-block;
  margin: 3.8px; 
  cursor: pointer;

  &:nth-child(1) {
    background: #FF4A52;
  }
  &:nth-child(2) {
    background: #FF9500;
  }
  &:nth-child(3) {
    background: #FFCC00;
  }
  &:nth-child(4) {
    background: #4CD964;
  }
  &:nth-child(5) {
    background: #5AC8FA;
  }
  &:nth-child(6) {
    background: #007AFF;
  }
  &:nth-child(7) {
    background: #5856D6;
  }
  &:nth-child(8) {
    background: #FF2D55;
  }
}

.color-cricle8 {
  background-color: #ff0000; 
}

.settingmodal-styling{
  margin-bottom:30px;
}


//-------------------------------------Navbarmodal--------------------------------------------
.navbarmodal-screen{
  margin-top: 80px;
  span{
  display: flex;
  line-height: normal;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  &:hover{
    color: #FF2D55;
  }
}
}
.navbarmodal-items{
  list-style: none;
  line-height: normal;
  font-size: 20px;
  font-weight: 700;
  &:hover{
    color: #FF2D55;
    cursor: pointer;
  }
}
.navbarmodal-subnav{
  line-height: normal;
  color: #FF2D55;
  &:hover{
    color: #fff;
    cursor: pointer;
  }
}
.navbarmodal-cardnavbar-margintop{
  margin-top: 20px;
  margin-bottom: 40px;
}
.navbarmodal-back{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
  &:hover{
    color: #FF2D55;
    cursor: pointer;
  }
}

.navbar-modal-social{
  display: flex;
  align-items: center;
  margin-top: 40px;
  }
  .navbar-facebook{
    margin-right: 15px;
  }
  .navbar-facebook-icon{
    width: 40px;
    height: 40px;
    color: #2D5F9A;
  }
  .navbar-twitter{
    margin-right: 15px;
  }
  .navbar-twitter-icon{
    width: 45px;
    height: 45px;
    color: #00C3F3;
  }
  .navbar-youtube{
    margin-right: 15px;
  }
  .navbar-youtube-icon{
    width: 55px;
    height: 55px;
    color: #cc181e;
  }
  .navbar-pinterest{
    margin-right: 15px;
  }
  .navbar-pinterest-icon{
    width: 40px;
    height: 40px;
    color: #bd081c;
  }
  .navbar-instagram-icon{
    width: 45px;
    height: 45px;
    color: #405de6;
    border-radius: 50%;
  }
//-------------------------------------CardnavbarProduct--------------------------------------------
.card-navbar-product-screen{
    width: 265px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: transform 0.3s ease;
}
.card-navbar-product-image{
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  z-index: 10;
}
.card-navbar-product-wrapper{
  position: relative;
}
.card-navbar-product-heading{
  position: absolute;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  bottom: 75px;
  left: 25px;
  color: #fff;
}
.card-navbar-product-review{
  position: relative;
}
.card-navbar-product-start{
  position: absolute;
  bottom: 45px;
  left: 25px;
}