.screen-choose-us{
    background-color: #fff;
    padding-top: 90px;
}

.choose-us-wrapper{
    display: flex;
    max-width:1280px ;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
}