.screen-choose-us{
    background-color: #fff;
    padding-top: 90px;
}

.choose-us-wrapper{
    display: flex;
    max-width:1280px ;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
}

@media (min-width:600px) and (max-width: 850px) { 
    .screen-choose-us{
        padding-top: 50px;
        padding: 0px 20px;
    }
    }
   
    @media (max-width: 450px) { 
        .screen-choose-us{
            padding-top: 90px;
        }
        .choose-us-wrapper{
            display: block;
            max-width: 450px ;
        }
        .screen-choose-us{
            padding: 30px 20px;
        }
    }