.screen-valuetrip{
    background-color: #fff;
    padding-top: 90px;
}
.content-besttrip{
    display: flex;
    max-width:1280px ;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
    cursor: pointer;
}

@media (min-width:600px) and (max-width: 850px) { 
    .screen-valuetrip {
        padding-top: 50px;
    }
    .content-besttrip{
        padding: 0px 20px;
    }
   }
  
   @media only screen and (max-width: 420px) { 
   
   }