.screen-popular{
    background-color: #fff;
    padding-top: 90px;
   
}
.content-popular {
    display: flex;
    max-width:1280px ;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
}

@media (min-width:600px) and (max-width: 850px) { 
    .screen-popular{
        padding-top: 30px;
    }
    .content-popular{
        padding: 0px 20px;
    }
   }
  
   @media (max-width: 450px) { 
    .screen-popular{
        padding-top: 30px;
       
    }
    .content-popular {
        display: block;
        max-width: 450px ;
        margin-top: 50px;
        padding: 0px 20px;
    }
   }