.setting-screen {
    position: fixed;
    right: -4px; 
    top: 150px;
    background-color: #fff;
    border-radius: 5px;
    transition: right 0.3s ease; 
    z-index: 9;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.setting-icon-wrapper {
    position: relative;
    cursor: pointer;
    padding: 5px 10px 0px 10px;
}

.setting-label {
    position: absolute;
    top: 5%;
    left: -285%;
    transform: translateX(-40%);
    padding: 6px;
    border-radius: 3px;
    display: none;
    background-color: black;
    color: #fff;
    font-size: 12px;
}
.setting-label::after{
    content: " ";
    position: absolute;
    right: -39px;
    top: 0;
    border-width: 15.9px 20px;
    border-style: solid;
    border-color: transparent transparent transparent black ;
    cursor: pointer;
}
.setting-icon-wrapper:hover .setting-label {
    display: block;
}

.setting-modal {
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -500px; 
    transition: right 0.3s ease; 
    z-index: 10;
    overflow-y: auto;
    cursor: pointer;
}

.setting-screen.opened {
    right: 335px; 
}

.setting-modal.opened {
    right: 0; 
}

@media (min-width: 600px) and (max-width: 850px) {
    
  }
  
  @media (max-width: 450px) {
    .setting-screen{
        display: none;
    }
  }
  

