.screen-footer{
    background-color: #fff;
    padding-top: 80px;
}

.footer-wrapper{
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
}

@media (max-width: 450px) { 
    .screen-footer{
        padding-top: 40px;
    }
  }